@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

body {
  margin: 0;
  padding: 0;
}

.data-loader {
  display: flex;
  justify-content: center;
  text-align: center;
}

main {
  display: none;
}

#imdb-markup,
#errorpage {
  display: unset;
}

a {
  text-decoration: none;
}

.navbar .container {
  border-radius: 10px;
  padding: 1rem 2rem;
  background: url(../img/bg.jpeg);
}

.navbar img {
  margin-right: .8rem;
}

.navbar img.userprofilepic {
  border-radius: 50%;
}

.navbar span {
  cursor: pointer;
}

.card,
.card-header {
  border: none;
}

#latest-poll img {
  float: right;
}

.btn,
.btn-close,
select,
input {
  box-shadow: none !important;
}

select:focus,
input:focus {
  border: #ffc107 1px solid !important;
}

.list-group-item.active {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000000;
}

.input-group #search-filter.hp {
  width: max-content !important;
  max-width: max-content !important;
}

#search-result {
  display: none;
}

#search-result .card:hover {
  background-color: #f8f9fa;
}

#search-result .card {
  cursor: pointer;
}

#search-result img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

#search-result .card-body div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#search-result .card-body pre {
  color: #6c757d !important;
}

.top-authors .card {
  padding-top: 1rem;
}

.top-authors img {
  width: 100px;
  border-radius: 50%;
}

.top-authors a:first-child {
  color: black;
}

.top-authors a:hover {
  text-decoration: underline;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.custom-filter label,
.search-filters label {
  padding-bottom: .5rem;
}

.polltable a {
  cursor: pointer;
}

.polltable thead,
.polltable tfoot,
.polltable tbody tr td {
  text-align: center;
}

#allimdbpolls tbody tr td:nth-child(3),
.polltable tbody tr td:nth-child(2),
.polltable tfoot tr th:first-child,
#leaderboard tbody tr td:nth-child(2),
#leaderboard tfoot tr th:first-child,
.polltable.collapsed tbody tr td,
#leaderboard.collapsed {
  text-align: left !important;
}

#leaderboard tbody tr td:nth-child(2) {
  text-align: right;
}

#leaderboard img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

#poll-search-result img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

#poll-search-result .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#poll-search-result .card .card-body div {
  display: flex;
}

#poll-search-result .card .text-muted {
  font-size: .875em;
}

.data-loader.search-loader {
  display: none;
}

footer img {
  width: 100px;
  border-radius: 5px;
}

footer p {
  font-size: .875em;
}

@media only screen and (max-width: 767px) {
  .navbar .container {
    display: flex;
    justify-content: center;
  }

  .logo {
    padding: 1rem 0;
  }

  footer .container {
    display: grid !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 10px;
  }

  footer p {
    padding-top: 1.5rem !important;
  }

  footer .container div:last-child {
    text-align: center !important;
  }
}

@media only screen and (max-width: 512px) {
  #latest-poll img {
    float: none;
    width: 50px;
  }
}

#imdb-markup table tbody tr td:first-child {
  font-family: monospace;
}

#imdb-markup .spoiler {
  background-image: url(../img/imdbspoiler.gif);
  background-size: contain;
  border: 1px solid red;
}

#imdb-markup .spoiler span {
  visibility: hidden;
}

#imdb-markup .spoiler:hover {
  background: none;
  border: none;
}

#imdb-markup .spoiler:hover span {
  visibility: visible;
}

#imdb-markup textarea {
  box-shadow: none;
  height: 100%;
}

#imdb-markup #livepreview {
  height: 100%;
}